<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">Stride</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Events", events_path, class: "nav-link" %></li>
        <%# <li class="nav-item"><%= link_to "Goals", goals_path, class: "nav-link" %></li> %>
        <%# <li class="nav-item"><%= link_to "Profile", profile_path, class: "nav-link" %></li> %>
      </ul>
    </div>
  </div>
</header>
