<%# <% excute du code ruby
    <%= execute du code ruby et affiche le résultat>> %>


<h1>Keep It Going <%= current_user.first_name %>!</h1>
<%# <h2>Mercredi 20 août 2025</h2>
<p>To do :</p>
<div class="container radius-3">
  <%= current_user.session %>
<%# </div>
<%# <div class="btn btn-secondary" url="/../../views/programs/show.html.erb"></div> %>
