// ----------------------
// Variables globales
// ----------------------
$primary-color: #bf1ff0;
$accent-color: #046b53;
$background-color: #f5f7fa;
$text-color: #0d162a;
$title-color: #2c3579;
$button-color: #18d78c;
$card-background: #f0e3d7;

// ----------------------
// Config graphiques / bibliothèques
// ----------------------
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// ----------------------
// Composants
// ----------------------
@import "components/events";
@import "components/programs";
@import "components/sessions";
@import "components/banner";
@import "components/home_goal_session";

// ----------------------
// Librairies externes
// ----------------------
@import "bootstrap";
@import "font-awesome";


// ----------------------
// Styles généraux
// ----------------------
body {
  font-family: 'Lexend', Helvetica, Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  max-width: 100%;
}

.page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f6e4d3 0%, #1e1e1e 100%);
  transition: background 0.2s ease;
}

main {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1, .page-title {
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
  font-size: clamp(2rem, 5vw, 3.5rem);
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $title-color;
}


// Your CSS partials
@import "components/index";
@import "pages/index";

@import "pages/connexion";
